#chart{
    display: flex;
    align-items: flex-end;
    height: 300px;
    width: 100%;
    border: 1px solid #ccc;
    margin: 20px auto;
    overflow: hidden;
}

.bar {
    width: 4%;
    margin: 0 1%;
    background: red;
    height: var(--height);
    transition: height 0.5s;
}

* {
    box-sizing: border-box;
}

body {
    font-family: system-ui;
    line-height: 1.5;
    margin: 0;
    padding: 2rlh;
}